# Problema 2 (Python)

En este ejercicio la idea es resolver un problema de manipulación de datos y scripting en Python. Para ellos usa la misma base de datos del ejercicio 1 como dato de entrada para realizar las siguientes operaciones

* Traer todos los datos de la base de datos a python
* Agrupar por estación meteorológica y calcular las métricas min, max y avg para las columnas “temp”,  “prcp”, “visib”.
* Crear una carpeta llamada results y dentro de esta otra con la fecha de la ejecución del script, ex. “results/2022-01-01/”
* Guardar el resultado de las métricas para cada estación meteorológica en archivos separados (en la carpeta creada anteriormente) donde las columnas sean “temp”,  “prcp”, “visib”,  las filas min, max y avg y el nombre del archivo sea el nombre de la estación..

In [1]:
import pandas as pd
import sqlite3

db_connection = sqlite3.connect('../data/weather_station.db')
query_example = """
SELECT *
FROM weather_station
LIMIT 10
"""

pd.read_sql(query_example, con=db_connection)

,index,weather_station_country_code,weather_station_country_name,weather_station_name,weather_station_id,wban,date,year,mo,da,...,flag_min,prcp,flag_prcp,sndp,fog,rain_drizzle,snow_ice_pellets,hail,thunder,tornado_funnel_cloud
0,0,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-01,2021,01,01,...,*,0.00,I,999.9,0,0,0,0,0,0
1,1,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-02,2021,01,02,...,*,0.00,I,999.9,0,0,0,0,0,0
2,2,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-03,2021,01,03,...,*,0.00,I,999.9,0,0,0,0,0,0
3,3,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-04,2021,01,04,...,*,0.00,I,999.9,0,0,0,0,0,0
4,4,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-05,2021,01,05,...,*,0.20,A,999.9,1,0,0,1,0,10010
5,5,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-06,2021,01,06,...,*,0.00,I,999.9,0,0,0,0,0,0
6,6,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-07,2021,01,07,...,*,99.99,None,999.9,1,0,0,0,0,10000
7,7,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-08,2021,01,08,...,*,0.00,G,999.9,0,0,0,0,0,0
8,8,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-09,2021,01,09,...,*,99.99,None,999.9,1,0,0,0,0,10000
9,9,UY,Uruguay,AEROCLUB MARAGATO,865501,99999,2021-01-10,2021,01,10,...,*,0.00,I,999.9,0,0,0,0,0,0